<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
      <title>Recommandation_P9_OC</title>
  </head>
  <body style="background-color: rgb(127, 153, 255)">
    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="">
          <img src="/static/logopng.png" alt="" width="200" height="190" class="d-inline-block align-text-top">
     
          <div class="container p-3 my-3 bg-dark text-white">
      <h2> Recommandation à nos utilisateurs </h2>
    </div>
        </a>
      </nav>
    {% block body %}

    {% endblock %}

    <!-- Bootstrap Javascripts -->  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

  </body>
</html>